.vp-doc .package-manager-tabs .tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.vp-doc .package-manager-tabs .tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.vp-doc .package-manager-tabs .tab.active {
  background-color: var(--vp-c-brand);
  color: white;
}

.vp-doc .package-manager-tabs .tab img {
  width: 1.5rem;
  height: 1.5rem;
}
